/* You can add global styles to this file, and also import other style files */
$primary:       #001e52;
$secondary:     #ff3065;
@import "~bootstrap";

.clickable{
  cursor: pointer;
}
.capacity-factor{
  min-height: 600px;
  width: 100%;
}
